@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section{
    padding:10rem 9%;
}



/* Styling the car images */
img{
    height: 15rem;
}

.box-content{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.box{
    
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    
}
.box:hover img{
    transform: scale(.9);
}

.price{
    font-size: 2.5rem;
    color:var(--black);
}
h3{
    text-transform: uppercase;
    font-size: 2.2rem;
    color:var(--black);
}
.btn{
    display: inline-block;
    padding: .8rem 2rem;
    border-radius: .5rem;
    background-color: var(--yellow);
    color:var(--black);
    font-size: 1.8rem;
    margin-top: 1rem;
    cursor: pointer;
    
}


.mileage, .condition{
    font-size: 1.5rem;
    color:var(--black);
}







.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3rem 9%;
    z-index: 1000;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
}

.header .logo span{
    color:var(--yellow);
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--yellow);
}
